body{
background:url(hanokwithouttext.png);
background-position: center;
background-size: cover;
}
h2{
    color: aliceblue;
    text-align: center;
}
form{
    background-color: rgb(52, 20, 192);
    opacity: 70%;
    margin: 50px auto;
    color: rgb(235, 216, 10);
    text-align:left;
    max-width: 600px;
    border-radius: 20px;
    padding:20px;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.1)
}
label{
    display:contents;
    font-weight: bold;
    margin-bottom: 5px;
}
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="date"],
select,textarea{
    width: 90%;
    padding: 10px;
    border: 1px solid;
    border-radius: 6px;
}
button { 
    background-color: #d7b024; 
    color: #fff; 
    border:none; 
    padding: 10px 20px; 
    border-radius: 6px; 
    cursor:alias; 
    font-size: 16px; 
    color: black;
    align-items: center;
} 

button:hover
{
     background-color: #da511b;
} 